BOT_NAME=mybotname
BOT_TOKEN=123456:Your-TokEn_ExaMple
ADMINS=123456,654321
USE_REDIS=False
CONSOLE_LOGGER_LVL=DEBUG

# Comment if not required

# PROXY_URL=http://proxy.server:3128

# WEBAPP_HOST=localhost  # or ip
# WEBAPP_PORT=8080
