BOT_NAME=mybotname
BOT_TOKEN=123456:Your-TokEn_ExaMple
ADMINS=123456,654321
USE_REDIS=False
CONSOLE_LOGGER_LVL=DEBUG

API_BASE_URL=http://localhost:8000
API_TOKEN=test-token

# Comment if not required

# HTTP_PROXY=http://proxy.server:3128

# WEBAPP_HOST=localhost  # or ip
# WEBAPP_PORT=8080

BOT_WEBHOOK_HOST=https://your-webhook-url.com
# This is a secret token to verify that the webhook is called from Telegram
BOT_WEBHOOK_SECRET=a-super-secret-key

# REDIS_HOST=redis_cache
# REDIS_PORT=6388
# REDIS_DB=1
# REDIS_PASSWORD=someredispass
